body {
  margin: 0;
}

h4 {
  font-family: 'Work Sans Bold';
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;

  .page-content {
    max-width: 1116px;
    padding: 176px 0 50px;
    margin: 0 auto;
  }
}