@font-face {
  font-family: 'Work Sans';
  src: local('Work'), url('./assets/fonts/Work_Sans/WorkSans-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Work Sans Bold';
  src: local('Work'), url('./assets/fonts/Work_Sans/WorkSans-Bold.ttf') format('opentype');
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #868797;
  margin: 0;
}

h4 {
  font-family: 'Work Sans Bold';
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

p {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  width: 100vw;
  min-height: 100vh;

  .page-content {
    max-width: 1116px;
    padding: 176px 0 50px;
    margin: 0 auto;
    transition: width 1s ease-in;

    @media (max-width: 1200px) {
      width: calc(100% - 100px);
      margin: 0 50px;
    }
  }
}

// -----   Scrollbar ----- //
.scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #00000d;
  }

  &::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #1c1f33;
  }
}

// -----   Tooltip   ----- //
.tooltip {
  display: block !important;
  box-shadow: 0px 0px 30px rgba(0, 44, 159, 0.5);
  z-index: 10000;

  .tooltip-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    min-width: 120px;
    background: #00000de6;
    font-size: 10px;
    line-height: 12px;
    padding: 9px 15px;
    box-sizing: border-box;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #00000de6;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}